# Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
data = boston["data"]

data.shape

(506, 13)

In [5]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [6]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [8]:
target = boston["target"]
target.shape

(506,)

In [9]:
y = pd.DataFrame(target, columns=["price"])

y.info()
y.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.0 KB

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [16]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [17]:
from sklearn.metrics import r2_score

In [18]:
R2 = r2_score(y_test["price"],y_pred.flatten())
R2

0.7112260057484898

# Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model = RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [21]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [22]:
y_pred = model.predict(X_test)

y_pred.shape

(152,)

In [23]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

In [24]:
R2 = r2_score(y_test["price"],y_pred.flatten())
R2

0.8749965273218174

# Случайный лес показал лучшие результаты чем линейная регрессия

# Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [25]:
?RandomForestRegressor

In [26]:
print(model.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [27]:
sum(model.feature_importances_)

1.0

In [28]:
feature_table = pd.DataFrame({
    "features": boston["feature_names"],
    "weight": model.feature_importances_,
})
feature_table.sort_values('weight',ascending=False).head(2)

   features    weight
12    LSTAT  0.415679
5        RM  0.402705

In [29]:
X2_train = X_train[['LSTAT','RM']]

X2_train.head()

     LSTAT     RM
5     5.21  6.430
116  12.04  6.176
45   10.21  5.682
16    6.58  5.935
468  18.13  5.926

In [30]:
X2_test = X_test[['LSTAT','RM']]

X2_test.head()

     LSTAT     RM
173   9.04  6.416
274   3.53  6.758
491  18.07  5.983
72    5.52  6.065
452  17.27  6.297

In [31]:
model2 = RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)
model2

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [32]:
model2.fit(X2_train, y_train.values[:,0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [33]:
y2_pred = model2.predict(X2_test)

y2_pred.shape

(152,)

In [34]:
R2_2 = r2_score(y_test["price"],y2_pred.flatten())
R2_2

0.7086833125186125

In [35]:
R2-R2_2

0.16631321480320493

# Задание 4
В этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке Matplotlib, это датасет Credit Card Fraud Detection.Для этого датасета мы будем решать задачу классификации - будем определять,какие из транзакциции по кредитной карте являются мошенническими.Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки),так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель.Мы будем вычислять AUC, то есть площадь под кривой ROC.
Импортируйте из соответствующих модулей RandomForestClassifier, GridSearchCV и train_test_split.
Загрузите датасет creditcard.csv и создайте датафрейм df.
С помощью метода value_counts с аргументом normalize=True убедитесь в том, что выборка несбалансирована.Используя метод info, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.Примените следующую настройку, чтобы можно было просматривать все столбцы датафрейма:
pd.options.display.max_columns = 100.
Просмотрите первые 10 строк датафрейма df.
Создайте датафрейм X из датафрейма df, исключив столбец Class.
Создайте объект Series под названием y из столбца Class.
Разбейте X и y на тренировочный и тестовый наборы данных при помощи функции train_test_split, используя аргументы: test_size=0.3, random_state=100, stratify=y.
У вас должны получиться объекты X_train, X_test, y_train и y_test.
Просмотрите информацию о их форме.
Для поиска по сетке параметров задайте такие параметры:
parameters = [{'n_estimators': [10, 15],
'max_features': np.arange(3, 5),
'max_depth': np.arange(4, 7)}]
Создайте модель GridSearchCV со следующими аргументами:
estimator=RandomForestClassifier(random_state=100),
param_grid=parameters,
scoring='roc_auc',
cv=3.
Обучите модель на тренировочном наборе данных (может занять несколько минут).
Просмотрите параметры лучшей модели с помощью атрибута best_params_.
Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.
Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив y_pred_proba. Из модуля sklearn.metrics импортируйте метрику roc_auc_score.
Вычислите AUC на тестовых данных и сравните с результатом,полученным на тренировочных данных, используя в качестве аргументовмассивы y_test и y_pred_proba.

In [47]:
df = pd.read_csv('creditcard.csv')
pd.options.display.max_columns = 100
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,0.359894,-0.358091,-0.137134,0.517617,0.401726,-0.058133,0.068653,-0.033194,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,-1.416907,-0.153826,-0.751063,0.167372,0.050144,-0.443587,0.002821,-0.611987,-0.045575,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,0.291474,1.757964,-1.323865,0.686133,-0.076127,-1.222127,-0.358222,0.324505,-0.156742,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,-0.110452,-0.286254,0.074355,-0.328783,-0.210077,-0.499768,0.118765,0.570328,0.052736,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,1.017614,0.836390,1.006844,-0.443523,0.150219,0.739453,-0.540980,0.476677,0.451773,0.203711,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

In [46]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [45]:
df['Class'].value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

In [50]:
X=df.drop(['Class'],axis=1)
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [53]:
y=pd.Series(df['Class'])
y

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 284807, dtype: int64

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [61]:
X_test

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
135848,81423.0,-1.798118,0.107267,2.919360,1.982813,0.472973,-0.664659,0.102543,0.099684,-0.698263,-0.097921,-0.567872,0.451827,0.673303,-0.647853,-1.056643,0.392743,-0.427494,-0.304906,-1.485354,-0.093745,0.173627,0.590313,0.108877,0.945822,0.606537,0.037305,-0.079050,0.151895,15.13
196688,131642.0,2.064021,0.011300,-1.043145,0.410000,-0.075590,-1.200273,0.238302,-0.381081,0.419170,0.050071,-0.595913,0.869542,0.867121,0.115584,-0.049057,-0.145670,-0.330845,-0.971470,0.137621,-0.174978,-0.279976,-0.631060,0.332455,0.068298,-0.272011,0.192782,-0.065289,-0.058276,0.89
25632,33699.0,-1.064043,1.452034,1.195888,-0.176340,-0.218213,-0.270229,0.211532,0.600249,-0.769363,-0.125051,1.711503,1.378092,0.735566,0.468439,0.273470,0.106359,-0.176440,-0.447548,-0.171965,0.134135,-0.114947,-0.298327,0.072686,0.221601,-0.223030,0.075274,0.264314,0.108397,1.98
34042,37486.0,0.851586,-1.216991,0.902877,0.626227,-1.282897,0.790772,-0.940161,0.367480,-0.481602,0.786748,0.553953,0.198323,-0.664744,0.067641,0.129418,-1.132406,-0.183455,1.697110,-1.160500,-0.235790,-0.228112,-0.517332,-0.086634,-0.366863,0.108793,-0.380407,0.062780,0.056640,193.00
87265,61606.0,-0.405124,1.011479,1.383194,0.005417,-0.082157,-0.805966,0.540714,0.114017,-0.528851,-0.314284,1.513094,0.190795,-0.917998,-0.037878,0.279285,0.562015,-0.115642,0.402541,0.128195,0.060361,-0.208871,-0.614812,0.008733,0.459329,-0.248782,0.044902,0.236049,0.088361,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113565,73113.0,-0.723941,-0.649842,2.231851,-2.030389,-0.748048,-0.605408,-0.588732,0.046257,-2.874206,1.003263,1.273772,-0.029111,1.271654,-0.440049,-0.172844,-0.175767,0.193111,0.508079,0.297615,0.003908,-0.206854,-0.456333,0.009258,0.301528,0.074686,-0.397956,0.060946,0.078831,32.00
112511,72684.0,1.448753,-1.117626,0.386101,-1.285430,-1.653554,-1.029787,-0.913603,-0.215718,-1.734114,1.446387,-0.607065,-1.284105,-0.261228,-0.146863,0.655955,-0.360739,0.553742,0.059539,-0.251181,-0.303373,-0.201163,-0.305557,0.012376,0.356035,0.348283,-0.208114,0.018033,0.025781,50.00
172675,121193.0,1.837012,-0.449449,-0.851313,1.484894,-0.128174,0.312329,-0.291796,0.259234,1.170730,0.195547,-0.079212,0.249492,-2.553240,0.391300,-2.122643,-0.579284,0.083830,-0.191070,0.518726,-0.338302,-0.286904,-0.686395,0.260640,0.612697,-0.059132,-0.866140,0.012160,-0.044819,45.02
97929,66444.0,0.350739,-1.904497,0.247425,0.377901,-1.094302,0.708852,-0.175009,0.152046,1.272601,-0.693081,-1.390377,0.170202,-0.257467,-0.387010,0.114808,-0.088419,0.157383,-0.668642,0.281060,0.812543,0.008449,-0.726904,-0.388662,-0.681175,-0.006323,0.977564,-0.106807,0.080393,462.00
19373,30225.0,1.241908,-0.685665,0.338128,0.184636,-0.593691,0.845848,-0.981155,0.399896,-0.622705,1.018874,-0.179443,-0.938656,-1.743896,0.572440,0.955008,-0.694087,-0.623889,2.248336,-1.010315,-0.593901,-0.249245,-0.381988,-0.112930,-1.254055,0.353198,-0.210119,0.060118,0.012661,39.00

In [57]:
y_train

194038    0
6870      1
184565    0
18333     0
142743    0
         ..
182063    0
144946    0
33643     0
211553    0
196217    0
Name: Class, Length: 3322, dtype: int64

In [62]:
y_test

135848    0
196688    0
25632     0
34042     0
87265     0
         ..
113565    0
112511    0
172675    0
97929     0
19373     0
Name: Class, Length: 278209, dtype: int64

In [63]:
X_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
194038,130415.0,1.912757,-0.314561,-1.711382,0.229274,0.311349,-0.512096,0.245240,-0.171029,0.573907,0.002714,0.809888,0.981885,-0.332972,0.658099,-0.441523,-0.567138,-0.443601,0.447550,0.157929,-0.125520,0.469524,1.438643,-0.193605,0.768857,0.570742,-0.260552,-0.018132,-0.056776,63.50
6870,8757.0,-1.863756,3.442644,-4.468260,2.805336,-2.118412,-2.332285,-4.261237,1.701682,-1.439396,-6.999907,6.316210,-8.670818,0.316024,-7.417712,-0.436537,-3.652802,-6.293145,-1.243248,0.364810,0.360924,0.667927,-0.516242,-0.012218,0.070614,0.058504,0.304883,0.418012,0.208858,1.00
184565,126295.0,2.004193,-1.204283,-0.350739,-0.838123,-1.346893,-0.536946,-1.076347,0.079147,-0.011092,0.883883,0.912504,-0.262847,-1.041098,0.004297,-0.310725,1.429264,0.029070,-0.986696,0.797821,-0.008271,0.035543,-0.076839,0.362776,-0.038916,-0.612785,-0.505979,-0.004712,-0.043795,59.95
18333,29398.0,-0.335155,1.130787,1.291094,0.060369,0.016846,-0.982945,0.702311,-0.065350,-0.374133,-0.506950,-0.238994,-0.153198,-0.017636,-0.402901,0.908814,0.390175,0.014443,-0.121039,-0.088036,0.101091,-0.266831,-0.700835,-0.017802,0.325155,-0.165287,0.072690,0.245379,0.097751,1.98
142743,84909.0,-1.521145,0.177347,1.848102,-1.196049,-0.057972,1.854484,-0.623024,1.389276,0.372497,-1.265035,1.376080,1.220246,-0.802690,0.015198,-0.585680,-0.842836,1.006584,-1.892867,-1.492789,-0.114657,0.037446,0.233470,0.107067,-0.965862,-0.419203,0.910937,0.196542,0.033910,38.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182063,125243.0,2.047228,-0.879200,-1.923439,-1.849980,1.585950,3.488301,-1.273364,0.957908,1.402067,-0.353517,0.094939,0.451440,0.058445,0.120590,1.588035,0.159244,-0.600851,-0.054104,-0.053194,-0.096063,0.172315,0.577574,0.224960,0.774930,-0.298050,0.726429,-0.016999,-0.059496,1.00
144946,86508.0,-0.231634,-0.101557,0.890811,-0.948625,1.345332,1.868931,-0.063853,0.514621,0.658355,-0.579280,0.805984,0.840062,-0.060662,-0.214033,0.157307,-0.645295,-0.269321,-0.426382,-1.078831,-0.103939,0.423603,1.583460,0.019258,-0.706433,-1.201814,-0.348008,0.164792,0.023058,9.46
33643,37317.0,-1.246158,-0.127493,2.309091,-0.105041,0.251816,-0.452212,0.810568,-0.046392,0.095007,-0.847208,-0.411034,-0.169616,-1.070365,-0.227866,-0.346875,-0.461154,0.125437,-1.059085,-0.763382,0.216397,-0.160916,-0.554274,0.134277,0.369734,0.238467,0.077333,-0.203506,-0.149616,104.99
211553,138463.0,0.123289,1.079440,-0.466330,-0.420373,1.105829,-0.739383,1.156067,-0.392044,-0.146092,-0.313525,1.177782,0.704286,0.757110,-1.070763,0.001104,0.122360,-0.036040,1.064152,0.144228,0.144711,0.270423,1.183270,-0.297665,-0.437083,-0.337571,-0.177253,0.097323,-0.046671,8.39
196217,131410.0,-0.179090,0.782553,-1.314339,-0.959353,3.145505,3.450625,0.334897,0.830761,-0.542073,-0.691299,0.200381,-0.279833,-0.327868,-0.626922,0.794954,-0.297241,0.794679,-0.195931,0.874211,0.085830,-0.220393,-0.695845,0.074982,0.618918,-0.773230,0.303462,0.032976,0.211663,8.99

In [68]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [69]:
parameters = {
    'n_estimators': [10, 15],
    'max_features': np.arange(3, 5),
    'max_depth': np.arange(4, 7)
}

clf = GridSearchCV(
    estimator=RandomForestClassifier(random_state=100),
    param_grid=parameters,
    scoring='roc_auc',
    cv=3
)

In [70]:
clf.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': array([4, 5, 6]),
                         'max_features': array([3, 4]),
                         'n_estimators': [10, 15]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [73]:
clf.best_params_

{'max_depth': 6, 'max_features': 3, 'n_estimators': 10}

In [108]:
y_pred_proba = clf.predict_proba(X_train)[:,1]

y_pred_proba[:10]

array([0.01055863, 1.        , 0.00908989, 0.00908989, 0.01465902,
       0.01055863, 0.04370215, 0.01055863, 0.01100566, 0.0124744 ])

In [99]:
y_train

194038    0
6870      1
184565    0
18333     0
142743    0
         ..
182063    0
144946    0
33643     0
211553    0
196217    0
Name: Class, Length: 3322, dtype: int64

In [109]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_train, y_pred_proba)

0.9848875192904054

In [110]:
y_pred_proba_test = clf.predict_proba(X_test)[:,1]

y_pred_proba_test[:10]

array([0.01612776, 0.01100566, 0.00908989, 0.01392438, 0.00908989,
       0.01100566, 0.00908989, 0.00908989, 0.01100566, 0.01100566])

In [106]:
roc_auc_score(y_test, y_pred_proba_test)

0.9712247690810698

# не понятно
нужно ли мне было высчитывать y_pred_proba_test?